.header__nav {
    background: #fff;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.header__nav-right,
.header__nav-left {
    width: 100%;
}

.nav-right-list,
.nav-left-list {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-left-list-item {
    width: 25%;
}

.nav-left-list-item a,
.nav-right-list-item a {
    text-decoration: none;
}

.nav-right-list-item {
    width: 16.6666%;
    text-align: right;
}