.header__nav {
    background: #fff;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.nav-right-list,
.nav-left-list {
    list-style: none;
    display: flex;
    align-items: center;
}