body {
    height: 100vh;
    background: #ccc;
}

.header__nav {
    background: #fff;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
}

.header__nav-right,
.header__nav-left {
    width: 100%;
}

.nav-right-list,
.nav-left-list {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-left-list-item {
    width: 25%;
}

.item-has-icon {
    display: flex;
    align-items: center;
}

.pos-right {
    justify-content: end;
}

.icon-nav {
    font-size: 18px;
}

.item-has-icon.pos-right i{
    margin-left: 4px;
    color: #c4c4c4;
    font-size: 12px;
}

.nav-left-list-item a,
.nav-right-list-item a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.nav-right-list-item {
    width: 16.6666%;
    text-align: right;
}

.header-logo {
    height: 80px;
}

/* body content */

.body__container {
    display: flex;
    height: calc(100% - 125px);
}

.body__container-content {
    width: 33.3333%;
}

.content-top {
    height: 66.6666%;
    display: flex;
}

.content-top-right,
.content-top-left {
    width: 50%;
}

.content-top-left {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background-left {
    background: url("../img/van-tai.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content-bottom {
    background: url("../img/slogan.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.content-bottom {
    height: 33.3333%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
}

.quotes {
    font-size: 30px;
    font-weight: 400;
}

.content-bottom p {
    margin: 15px 0 25px 0;
    max-width: 315px;
    font-style: italic;
}


/* footer */
.footer {
    height: 35px;
    background: #fff;
}